@use '../../../../styles/partials/variables' as *;
@use '../../../../styles/partials/mixins' as *;

.dashboard {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $neutral-100;

  header {
    padding: 13px 16px;
    z-index: 2;
  }

  main {
    flex: 1;
    overflow-y: auto; // scrollable main
    padding: 20px 16px;
    background-color: white;
    border-top-left-radius: $radius-8;
    border-top-right-radius: $radius-8;
  }

  .notes-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .nav-wrapper {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 3;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
}
