
<div class="dashboard">
    <header>
        <div class="logo">
            <img src="../../../../assets/images/logo.svg" alt="">
        </div>
    </header>
    <main>
        <h2>Settings</h2>
        <div class="notes-container"> 
        <ul>
            <li (click)="goToTheme()" class="color-theme">
                <img src="../../../../assets/images/icon-sun.svg" alt="sun icon">
                <p>Color Theme</p>
            </li>
            <li class="font-theme">
                <img src="../../../../assets/images/icon-font.svg" alt="sun icon">
                <p>Font Theme</p>
            </li>
            <li class="change-password">
                <img src="../../../../assets/images/icon-lock.svg" alt="sun icon">
                <p>Change Password</p>
            </li>
             <li class="logout">
                <img src="../../../../assets/images/icon-logout.svg" alt="logout icon">
                <p>Logout</p>
            </li>
        </ul>
        </div>
       
    </main>
    <div class="nav-wrapper">
         <app-nav/>
    </div>
 
</div>

