@use '../../../../styles/partials/variables' as * ;
@use '../../../../styles/partials/mixins' as * ;


nav {

    text-align: center;
    box-shadow: 0 -4px 16px -2px rgba(67, 65, 65, 0.2);
    display: flex;
    align-items: center;
    padding: 12px 16px;
    width: 100%;
    border-top: 1px solid $neutral-300;
    ul {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 68.6px;
            height: 32px;
        }
    }
}


.border {
    display: none;
}



.nav-name {
    display: none;
}


@media screen and (min-width: 480px) {
    .nav-name {
        display: block;
    }
    nav {
        height: 74px;
        ul {
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                width: 155px;
                height: 50px;
              
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }    

    .border{
        display: block;
         border-right: 1px solid $neutral-300;
    }
     
}