button {
  position: absolute;
  bottom: 78px; // distance from the bottom
  right: 16px;  // distance from the right
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  border: none;
  cursor: pointer;

  svg {
    fill: white;
    stroke: white;
  }
}
