
@use '../../../../styles/partials/variables' as * ;
@use '../../../../styles/partials/mixins' as * ;


.note-item {
    display: flex;
    flex-direction: column;
    gap:12px;
    padding: 8px;
    border-bottom: 1px solid $neutral-300;
}


.tags-wrapper {
    display: flex;
    gap:5px;
   
    .tag {
        color: $neutral-950;
        padding: 0 5px;
          background-color: $neutral-200;
          border-radius: $radius-4;
    }
  
}

